GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
ALLOWED_ORIGINS="http://localhost:4200"

MODEL="gemini-2.5-flash"

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

MONGO_DB_NAME="resume_sync_db"

FRONTEND_UPDATE_URL=http://localhost:4200/employee-dashboard
BACKEND_BASE_URL=http://localhost:8000
SCHEDULER_RUN_DAY=24
SCHEDULER_RUN_HOUR=9
SCHEDULER_RUN_MINUTE=21
EMAIL_DELIVERY_MODE=console

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=noreply@resume-sync.local
SMTP_USE_TLS=false
SMTP_USE_SSL=false